/*
Colors:
    black: #000000
    ink : #062F4F
    purple: #813772
    orange: #B82601
*/

body{
    background-color: black;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#title-side{
    background-color: #813772;
    width: 50%;
    height: 100%;
}

.alert-msg{
    background-color: rgb(255, 72, 72);
    max-width: 25%;
    color: white;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 7px;
    padding: 6px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.entrybox{
    color: black;
}

.formbox{
    align-items: right;
}

.form-container{
    background-color: #062F4F;
    padding: 15px;
    max-width: 40%;
    align-items: center;
    text-align: center;
    border: 6px solid #813772;
    border-radius: 15px;
    margin: auto;
}

#password_entry{
    position: relative;
    right: 13px;
}

.password_label{
    position: relative;
    right: 13px;
}

.page-title{
    font-size: 56px;
    color: #B82601;
    text-align: center;
    position: relative;
    top: 35px;
}

#main-title{
    color: white;
    position: relative;
    top: 80px;
}

#main-nav{
    background-color: #813772;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 60px;
    align-items: right;
    text-align: right;
}

.navbar-item{
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 18px;
}

.navbar-item:hover{
    background-color: #062F4F;
}

#logout-btn:hover{
    background-color: #B82601;
}

#homepage-title{
    position: relative;
    top: 180px;
}

#home-nav{
    position: fixed;
    top: 0px;
    left: 0px;
}

.post-question-btn{
    margin: auto;
}

.post-question-btn{
    text-decoration: none;
    margin: auto;
}

.qbtn-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
    right: 570px;
    background-color: #062F4F;
    padding: 15px;
    border-radius: 8px;
}