{% extends 'base.html'%}

{% block body %}
<div>
    <h1 class="page-title">Log In</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert-msg">{{ messages[0] }}. <a href="/signup">Create Account.</a></div>
    {% endif %}
{% endwith %}

<div class="form-container">
    <form action="/login" method="POST">
        <label for="email_entry">Email: </label>
        <input class="entrybox" id="email_entry" name="email_entry" type="email" />
        <br />
        <br />
        <label class="password_label" for="password_entry">Password: </label>
        <input class="entrybox" id="password_entry" name="password_entry" type="password" />
        <br />
        <br />
        <input class="entrybox" type="submit" value="Log In" onClick="checkEntry()" />
        <br />
    </form>
</div>
{% endblock body %}

{% block script %}
<script src={{ url_for("static", filename="js/login_page.js") }}></script>
{% endblock script %}